@font-face {
    font-family: "blwk-lite";
    src: url("LXGWWenKaiLite-Light.eot"); /* IE9 */
    src: local("blwk-lite"), url("LXGWWenKaiLite-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("LXGWWenKaiLite-Light.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("LXGWWenKaiLite-Light.woff") format("woff"), /* chrome, firefox */
    url("LXGWWenKaiLite-Light.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("LXGWWenKaiLite-Light.svg#blwk-lite") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


