.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
.idea
.vercel
public.zip
quartz/static/quartz-excalidraw-plugin.js
quartz/static/quartz-graph-plugin.js