@use "../../styles/variables.scss" as *;
footer#footer {
  font-size: 12px;
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
  text-shadow: 0 1px #fff;
  opacity: 0.6;
  text-align: center;
  margin-bottom: 24px;
  margin-top: 12px;
}
footer#footer a {
  background: rgba(0, 0, 0, 0);
  text-decoration: none;
  color: #08c;
}
footer#footer .outer {
  display: flex;
  justify-content: space-between;
}
.footer-left {
  display: flex;
  align-items: center;
  gap: 8px;
}