@use "./base.scss";

// put your custom CSS here!
.tk-footer {
  // 移动到底部一起
  visibility: hidden;
}

.tk-avatar img {
  margin: 0;
}

.twikoo {
  margin-top: 200px;
}

.twikoo strong {
  color: var(--darkgray);
}